{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Тут должно быть описание новости</h1>
{% if news %}
    <table>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Категория</td>
        </tr>
        {% for news in news %}
        <tr>
            <td>{{ news.heading_news }}</td>
            <td>{{ news.time_add_news }}</td>
            <td>{{ news.text_news | truncatechars:20 }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Товаров нет!</h2>
{% endif %}
{% endblock content %}